{% extends "base.html" %}

<!-- ---------head------------------------- -->
{% block title %} 
	Index Page 
{% endblock %}
<!-- ---------end head------------------------- -->

<!-- ----------body----------------
{% block navi1 %}
	
	<a href="{% url homepage_index %}">Home</a> - <a href="{% url homepage_about %}">About</a> - 
	<a href="{% url homepage_youtube %}">Youtube</a> - <a href="{% url homepage_contact %}">Contact</a>
{% endblock %}
-------- -->

{% block navi %}
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
     </a>
		  
    <a class="brand" href="#">Blog</a>
     <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url homepage_index %}">Home</a>
              <li><a href="{% url homepage_about %}">About</a></li>
              <li><a href="{% url homepage_youtube %}">Youtube</a></li>
			  <li><a href="{% url homepage_contact %}">Contact</a></li>
            </ul>
     </div><!--/.nav-collapse -->
{% endblock %}
<!-- ---------------------------------- -->

{% block inpage-style %}

    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

{% endblock %}

<!-- ---------------------------------- -->
{% block content %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/guanxi.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Where is that?</h1>
              <p class="lead"></p>
              <!--<a class="btn btn-large btn-primary" href="#">Sign up today</a>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/tibet.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Where is that?</h1>
              <p class="lead"></p>
              <!--<a class="btn btn-large btn-primary" href="#">Learn more</a>-->
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/tibetan-dog.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>What is that?</h1>
              <p class="lead"></p>
              <!--<a class="btn btn-large btn-primary" href="#">Browse gallery</a>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

<br><br><hr>
	<h1>bootstrap testing...</h1>
    <h2>Entries:</h2>
    {% for e in entries %}
		<div> 
			{{ e.title }} - {{ e.created }} 
		</div>
		<div> 
			{{ e.text }} 
		 </div>

		
    {% endfor %}
	
{% endblock %}
<!-- ---------------------------------- -->

{% block footer %} 
	@don,2013 new start
{% endblock %} 

<!-- ----------end body------------------------ -->

{% block bottom-script %}
	<script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
{% endblock %}







