{% extends "base.html" %}

<!-- ---------head------------------------- -->
{% block title %} 
	Index Page 
{% endblock %}
<!-- ---------end head------------------------- -->

<!-- ----------body------------------------ -->
{% block navi %}
	<a href="{% url homepage_index %}">Home</a> - <a href="{% url homepage_about %}">About</a> - 
	<a href="{% url homepage_archive %}">Archive</a> - <a href="{% url homepage_contact %}">Contact</a>
{% endblock %}
<!-- ---------------------------------- -->
{% block content %}
	<h1>template testing...</h1>
    <h2>Entries:</h2>
    {% for e in entries %}
		<div> 
			{{ e.title }} - {{ e.created }} 
		</div>
		<div> 
			{{ e.text }} 
		 </div>

		<br>
    {% endfor %}
{% endblock %}
<!-- ---------------------------------- -->

{% block footer %} 
	@2013 new start
{% endblock %} 

<!-- ----------end body------------------------ -->
